# https://editorconfig.org/

# A special property that should be specified at the top of the file outside of
# any sections. Set to true to stop .editorconfig file search on current file
root = true

[*]
# File character encoding
# Possible values - latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Line ending file format
# Possible values - lf, crlf, cr
end_of_line = lf

# Indentation style
# Possible values - tab, space
indent_style = space

# Indentation size in single-spaced characters
# Possible values - an integer, tab
indent_size = 4

# Denotes whether file should end with a newline
# Possible values - true, false
insert_final_newline = false

# Denotes whether to trim whitespace at the end of lines
# Possible values - true, false
trim_trailing_whitespace = true

# nginx, js, shell, typescript, docker
[{*.conf, *.js, *.sh, *.ts, Dockerfile}]
indent_size = 2
insert_final_newline = true

[{*.css, *.less, *.json, *.xml, *.xslt, *.yaml, *.puml}]
indent_size = 2

[*.go]
indent_style = tab
indent_size = unset
insert_final_newline = true

# markdown
[*.md]
max_line_length = 160
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
indent_size = unset