## System readonly vars: ${APPX_DIR}, ${CMD_SEPARATOR}
## System vars:
# MRCMD_PLUGINS_DIR=../mrcmd/plugins
APPX_PLUGINS_DIR=./scripts
#MRCMD_SHARED_PLUGINS_ENABLED=global,pm,go-dev
MRCMD_SHARED_PLUGINS_ENABLED=global,pm,docker,docker-compose,go,go-migrate,postgres,redis

## Docker:
# DOCKER_PACKAGE_NAME=p/
# DOCKER_DEFAULT_SHELL=sh

## Global vars:
APPX_ID=print-shop
# APPX_WORK_DIR=./app
# HOST_USER_ID=1000
# HOST_GROUP_ID=1000
# APPX_TZ=Europe/Moscow

## Docker Compose:
# DOCKER_COMPOSE_CONFIG_DIR=${MRCMD_PLUGINS_DIR}/docker-compose
# DOCKER_COMPOSE_CONFIG_FILE_LAST=./docker-compose-app.yaml
# DOCKER_COMPOSE_USE_GENERAL_NETWORK=false

## Go alpine:
# READONLY_GO_DOCKER_HOST=web-app
# GO_DOCKER_CONTAINER=${APPX_ID}-web-app
# GO_DOCKER_CONTEXT_DIR=${MRCMD_PLUGINS_DIR}/go/docker
# GO_DOCKER_DOCKERFILE=NULL
# GO_DOCKER_COMPOSE_CONFIG_DIR=${MRCMD_PLUGINS_DIR}/go/docker-compose
GO_DOCKER_IMAGE=p/go:1.21.4
GO_DOCKER_IMAGE_FROM=golang:1.21.4-alpine3.18
# GO_LIB_DIR=./golang
# GO_APP_ENV_FILE=./.env.app
# GO_APP_MAIN_FILE=./cmd/app/main.go
# GO_WEBAPP_PUBLIC_PORT=127.0.0.1:8080
# GO_WEBAPP_BIND=0.0.0.0
# GO_WEBAPP_PORT=8080
GO_TOOLS_INSTALL_GOIMPORTS_VERSION=false
GO_TOOLS_INSTALL_STATICCHECK_VERSION=false
GO_TOOLS_INSTALL_ERRCHECK_VERSION=false
GO_TOOLS_INSTALL_GOLINT_VERSION=false

## DB migrate utility:
# GO_MIGRATE_DOCKER_CONTEXT_DIR=${MRCMD_PLUGINS_DIR}/go-migrate/docker
# GO_MIGRATE_DOCKER_DOCKERFILE=NULL
GO_MIGRATE_DOCKER_IMAGE=p/go-migrate:4.16.2
GO_MIGRATE_DOCKER_IMAGE_FROM=migrate/migrate:v4.16.2
# GO_MIGRATE_DOCKER_NETWORK=${APPX_ID}-local-network
# GO_MIGRATE_DB_URL=POSTGRES_DB_URL
# GO_MIGRATE_DB_SRC_DIR=./migrations

## Postgres:
# READONLY_POSTGRES_DOCKER_HOST=db-postgres
# POSTGRES_DOCKER_CONTAINER=${APPX_ID}-db-postgres
# POSTGRES_DOCKER_CONTEXT_DIR=${MRCMD_PLUGINS_DIR}/postgres/docker
# POSTGRES_DOCKER_DOCKERFILE=NULL
# POSTGRES_DOCKER_COMPOSE_CONFIG_DIR=${MRCMD_PLUGINS_DIR}/postgres/docker-compose
POSTGRES_DOCKER_IMAGE=p/postgres:15.5
POSTGRES_DOCKER_IMAGE_FROM=postgres:15.5-alpine3.18
# POSTGRES_DB_PUBLIC_PORT=127.0.0.1:5432
# POSTGRES_DB_USER=user_pg
# POSTGRES_DB_PASSWORD=123456
# POSTGRES_DB_NAME=db_pg

## Redis:
# READONLY_REDIS_DOCKER_HOST=db-redis
# REDIS_DOCKER_CONTAINER=${APPX_ID}-db-redis
# REDIS_DOCKER_CONTEXT_DIR=${MRCMD_PLUGINS_DIR}/redis/docker
# REDIS_DOCKER_DOCKERFILE=NULL
# REDIS_DOCKER_COMPOSE_CONFIG_DIR=${MRCMD_PLUGINS_DIR}/redis/docker-compose
REDIS_DOCKER_IMAGE=p/redis:7.2.3
REDIS_DOCKER_IMAGE_FROM=redis:7.2.3-alpine3.18
# REDIS_PUBLIC_PORT=127.0.0.1:6379
# REDIS_PASSWORD=123456