# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

.idea
.vscode

/.cache

/.env
/.env-IDE

/app/bin
/app/test-coverage-full.html

/img

/Makefile.mk