# Mapping ENV vars to ./app/config/config.go
# if optional ENV var not exists put default value from ./app/config/config.yaml

## App vars:
# APPX_NAME="Print Shop Service"
APPX_ENV=local
# APPX_LANGS=ru_RU,en_EN

## Sentry [OPTIONAL]:
# APPX_SENTRY_DSN=

## Postgres:
APPX_DB_HOST=127.0.0.1
# APPX_DB_PORT=5432
APPX_DB_USER=user_pg
APPX_DB_PASSWORD=123456
APPX_DB_NAME=db_pg
# APPX_DB_MIGRATIONS_TABLE=print_shop_migrations

## Redis:
APPX_REDIS_HOST=127.0.0.1
# APPX_REDIS_PORT=6379
APPX_REDIS_PASSWORD=123456

## S3:
APPX_S3_HOST=127.0.0.1
# APPX_S3_PORT=9000
# APPX_S3_USE_SSL=false
APPX_S3_USER=admin
APPX_S3_PASSWORD=12345678

## File providers:
# APPX_IMAGE_STORAGE2_ROOT_DIR=../img
APPX_IMAGE_PROXY_HOST=http://print-shop.local

## Sender Mail:
APPX_MAIL_DEFAULT_FROM="PrintShop <username@example.com>"
APPX_MAIL_SMTP_HOST=smtp.example.com
APPX_MAIL_SMTP_PORT=587
APPX_MAIL_SMTP_USERNAME=username
APPX_MAIL_SMTP_PASSWORD=password

## Sender Telegram [OPTIONAL]:
# APPX_TELEGRAM_CHANNEL_NAME=@Telegram_Bot
# APPX_TELEGRAM_CHANNEL_TOKEN=0000000000:AAAaaAAaaAAaaAAAA0AAaaaaAaAAAAAAa_a

## Http server:
# APPX_HTTP_SERVER_BIND_IP=0.0.0.0
# APPX_HTTP_SERVER_PORT=8080

## Monitoring http server:
# APPX_MONITORING_SERVER_BIND_IP=0.0.0.0
# APPX_MONITORING_SERVER_PORT=8084

## Cors:
APPX_CORS_ALLOWED_ORIGINS=http://print-shop.local,http://localhost:3000,http://127.0.0.1:3000

## Access control:
# APPX_ROLES_DIR_PATH=./roles
APPX_JWT_SECRET=secret

## Test user [OPTIONAL]:
# TEST_USER_ID=137b652a-2380-480f-bb95-3c78183f68f3
# TEST_USER_REALM=printshop/users
# TEST_USER_KIND=standard
# TEST_USER_LANG_CODE=ru-RU

## ================================= MRCMD SECTION =================================

## System readonly vars: ${APPX_DIR}, ${CMD_SEPARATOR}
## System vars:
# MRCMD_PLUGINS_DIR=../mrcmd/plugins
# APPX_PLUGINS_DIR=./scripts
MRCMD_SHARED_PLUGINS_ENABLED=global,go-dev,docker

## Global vars:
APPX_WORK_DIR=.

## Go Dev:
GO_DEV_IMPORTS_LOCAL_PREFIXES=print-shop-back
# GO_DEV_TOOLS_INSTALL_GODELVE_VERSION=false
# GO_DEV_TOOLS_INSTALL_GOFUMPT_VERSION=latest
# GO_DEV_TOOLS_INSTALL_GOIMPORTS_VERSION=latest
# GO_DEV_TOOLS_INSTALL_GCI_VERSION=latest
# GO_DEV_TOOLS_INSTALL_GOLANGCI_LINT_VERSION=latest
GO_DEV_TOOLS_INSTALL_MOCKGEN_VERSION=v1.6.0
GO_DEV_TOOLS_INSTALL_GOTEXT_VERSION=v0.36.0
